adapter-reproduction/glue/__pycache__/hf_arguments.cpython-39.pyc
src/scripts/ct_0-a/run_glue.sh
*./bin
*.bin
*./pyc
**/.cache/**
wandb
*/wandb
*.json
!af_config_*.json
*.png
*.csv
*.pth
*.pt
*.gv
*.html
vocab.txt
graph.txt
**/README.md
__pycache__
adapter-transformers
!adapter-transformers/src/adapters
adapter-reproduction
src/runs
*/TEST
merges.txt